<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.width.px]="windowDim[0]"
  [style.height.px]="windowDim[1]">

  <!-- Content chips-->
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px" [style.width.px]="windowDim[0] - 20" #chips>
    <button *ngFor="let content of contents" mat-raised-button class="chip" matBadge="{{content.saturation}}" matBadgeColor="accent"
      matBadgePosition="before" matBadgeSize="medium" [style.background-color]="content.color">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div style="font-weight: bolder">{{content.name}}</div> &nbsp; &nbsp;
        <mat-icon svgIcon="cancel" style=" fill: #fdc600" (click)="onRemoveContent(content)"></mat-icon>
      </div>
    </button>
  </div>

  <!-- Content Control -->
  <div class="chip-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" [style.width.px]="windowDim[0] - 40"
    #control>
    <button mat-raised-button class="chip-button-add" [disabled]="nameCtrl.invalid || !saturation" (click)="onAddContent()">
      <mat-icon svgIcon="add"></mat-icon>
    </button>

    <div fxLayout="column" fxLayoutAlign="center start" [style.width.px]="windowDim[0] - 50">
      <mat-slider class="chip-saturation" [max]="20" [min]="0" [step]="1" [thumbLabel]="true" [(ngModel)]="saturation" color="accent">
      </mat-slider>
      <mat-form-field class="chip-control">
        <mat-label style="color: #fcc500">Add content...</mat-label>
        <input matInput color="accent" style="color:#ffd740 " [formControl]="nameCtrl">
      </mat-form-field>
    </div>

    <button mat-mini-fab class="assign-content" *ngIf="contents && contents.length" (click)="onChangeMode()">
      <mat-icon svgIcon="chart" style="fill: #ffd740"></mat-icon>
    </button>
  </div>

  <!-- Content pie-->
  <div class="pie-chart-container" [style.width.px]="windowDim[0] - 40" [style.height.px]="pieHeight" #pie>
    <ngx-charts-pie-chart *ngIf="colors && data" [view]="[windowDim[0] - 80, pieHeight - 10]" [results]="data" [scheme]="colors"
      [animations]="true" [explodeSlices]="true" [labels]="true" [doughnut]="isDoughnut" [gradient]="true" [tooltipDisabled]="false"
      fxLayout="row">
    </ngx-charts-pie-chart>
  </div>
</div>